<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>

    <title ng-bind="page_title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <link rel="icon" href="/favicon.ico" />

    <base href="/" />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
    <link rel="shortcut icon" type="image/png" href="/images/favicons/favicon.ico">


    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap-material-design/dist/css/material.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />


    <script type="text/javascript">
      window.userLoginStatus = <%= userLoginStatus %>;
    </script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/bower_components/angular-parallax/scripts/angular-parallax.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angularjs-scroll-glue/src/scrollglue.js"></script>

    <script src="/js/templates/templates.min.js"></script>

    <script src="/js/build.js"></script>

  </head>
  <body>

    <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" ui-sref="index">ʕ ͠° ʖ̫ °͠ ʔ</a>

        <ul class="nav navbar-nav">
          <li><a ui-sref="index">Home</a></li>
          <li><a ui-sref="groups()">Groups</a></li>
          <li><a ui-sref="api_stats()">API stats</a></li>
          <li><a href="/report" target="_self">Plato reports</a></li>
          <% if(!userLoginStatus) { %>
            <li><a ui-sref="signup()">Signup</a></li>
          <% } %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if(userLoginStatus) { %>
            <li><my-profile-info></my-profile-info></li>
            <li><a href="/logout" target="_self">Logout</a></li>
          <% } %>
        </ul>
      </div>
    </div>

    <div id="content" ui-view>