a {
  cursor: pointer;
}
.spacing-top {
  margin-top: 70px;
}
.navbar-brand {
  min-width: 100px;
}
.navbar-fixed-top {
  top: 7px;
  box-shadow: 0 0 10px #111111;
}
.bar {
  background: url('http://cdn.socket.io/website/imgs/galaxy.jpg');
  height: 7px;
  background-size: cover;
  background-position: left 0%;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
  -webkit-transition: all 0.33s;
          transition: all 0.33s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#logo {
  border-radius: 100%;
  border: 5px solid #b10dc9;
  background: transparent;
  width: 100px;
  height: 100px;
  -webkit-transition: all 1s;
          transition: all 1s;
  -webkit-transform: translate(0, 0, 0);
      -ms-transform: translate(0, 0, 0);
          transform: translate(0, 0, 0);
}
#logo:hover {
  border: 10px solid #b10dc9;
  width: 200px;
  height: 200px;
}
.my-profile-info-box {
  color: #ffffff;
}
.footer-bunny {
  position: fixed;
  bottom: 0;
  right: 5px;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.footer-bunny:hover {
  opacity: 0;
}
.profile-cover,
.group-cover {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('http://i.imgur.com/Q0CaJ.jpg');
  height: 400px;
  position: relative;
  margin-bottom: 50px;
}
.profile-cover .cover-picture-thumbnail,
.group-cover .cover-picture-thumbnail {
  border-radius: 3px;
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  bottom: -35px;
}
.profile-cover .cover-title,
.group-cover .cover-title {
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  position: absolute;
  left: 0;
  margin-top: 75px;
  color: rgba(255, 255, 255, 0.4);
}
.group-cover {
  background-image: url('http://i.imgur.com/AHyEhHG.jpg');
}
.picture-col {
  min-height: 150px;
  max-height: 200px;
}
.white-space-pre {
  white-space: pre;
}
.purple {
  color: #b10dc9;
}
.purple.animate {
  -webkit-animation: purpleToRed 10s infinite ease;
          animation: purpleToRed 10s infinite ease;
}
@-webkit-keyframes purpleToRed {
  0% {
    color: #b10dc9;
  }
  50% {
    color: #ff4136;
  }
  100% {
    color: #b10dc9;
  }
}
@keyframes purpleToRed {
  0% {
    color: #b10dc9;
  }
  50% {
    color: #ff4136;
  }
  100% {
    color: #b10dc9;
  }
}
