<div class="well">
  <div class="chat-messages" scroll-glue>
    <ul>
      <li ng-repeat="message in messages">
        <div class="pull-left">
          <a ui-sref="profile.show({id: message.user_id})">{{message.username}}</a>:
          <span ng-bind-html="message.message"></span>
        </div>
        <small class="pull-right text-muted">{{message.created_at}}</small>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>

  <form ng-submit="save_message()" ng-if="loggedin">

    <div class="form-group">
      <div class="input-group">
        <div class="form-control-wrapper">
          <input type="text" ng-model="$parent.message" class="form-control empty" placeholder="Type chat message here yolo"><span class="material-input"></span>
        </div>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Send</button>
        </span>
      </div>
    </div>

  </form>
</div>