
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">

      <h2>Signup!</h2>

      <form role="form" action="/signup" method="post">
        <div class="form-group">
          <input type="text" name="username" placeholder="Username" ng-model="signup.username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" ng-model="signup.password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        <a ui-sref="login()">Login</a>
      </form>

    </div>
    <div class="col-md-4">
      <h3>Sign up with social media</h3>

      <div class="signup-buttons">
        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
          <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
        <a class="btn btn-block btn-social btn-twitter">
          <i class="fa fa-twitter"></i> Sign in with Twitter
        </a>
        <a class="btn btn-block btn-social btn-google-plus">
          <i class="fa fa-google-plus"></i> Sign in with Google
        </a>
      </div>

    </div>
  </div>
</div>
