
<div class="container" ng-if="group">
  <div class="row">
    <div class="col-md-3">
      <h1 class="group-name">
        {{group.name}}
      </h1>

      <span>
        <a ui-sref="groups()">Groups</a> /
        <a ui-sref="groups({category: group.category})">{{group.category}}</a>
      </span>

      <p>
        Created: {{group.created | amDateFormat:'MMMM Do YYYY'}}
      </p>

      <a ui-sref="profile.show({id: created_by._id})" ng-if="created_by.name">
        {{created_by.name}}
      </a>
    </div>
    <div class="col-md-9">

      <p ng-if="group.description" class="well">
        {{group.description}}
      </p>

      group id: {{id}}
      <hr />
      group: {{group}}
    </div>
  </div>
</div>

