<!-- TODO: remove hardcoded panda -->
<div parallax-background parallax-ratio="0.9" class="group-cover">
  <div class="container">

      <h1 class="cover-title" parallax parallax-ratio="0.3">
        {{group.name}}
      </h1>

    <img src="http://i.imgur.com/zIZ5MuM.jpg" class="cover-picture-thumbnail img-thumbnail" />
  </div>
</div>

<div class="container" ng-if="group">
  <div class="row">
    <div class="col-md-3">
      <h1 class="group-name">
        {{group.name}}
      </h1>

      <span>
        <a ui-sref="groups()">Groups</a> /
        <a ui-sref="groups({category: group.category})">{{group.category}}</a>
      </span>

      <p>
        Created: {{group.created_at | amDateFormat:'MMMM Do YYYY'}}
      </p>

      <p ng-if="loggedin && loggedinUser._id == group.created_by">
        <a ui-sref="group.edit({id: group._id})" class="group-edit">Edit</a>
      </p>

      <a ui-sref="profile.show({id: created_by._id})" ng-if="created_by.name">
        {{created_by.name}}
      </a>
    </div>
    <div class="col-md-9">

      <p ng-if="group.description" ng-bind="group.description" class="well white-space-pre"></p>

      <p ng-if="loggedin && membership_checked && not_member">
        <a class="btn btn-primary" ng-click="join()">Join this group like a champion</a>
      </p>

      <div ng-if="loggedin">
        <upload group-id="group._id" update="getPictures"></upload>
      </div>

      <h2>Pictures</h2>
      <div class="row">
        <div class="picture-col col-md-3" ng-repeat="picture in pictures | orderBy:'-created_at'">
          <img ng-click="openModal(picture)" ng-src="/uploads/{{picture.filename}}" class="img-thumbnail">
          <h3>active: {{picture.active}}</h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <h2>Members</h2>
      <ul>
        <li ng-repeat="member in memberlist">
          <a ui-sref="profile.show({id: member._id})">{{member.username}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>

