<!-- TODO: remove hardcoded batman url -->
<div parallax-background class="profile-cover" parallax-ratio="0.9">
  <div class="container">
    <img ng-src="{{profile_picture}}" class="cover-picture-thumbnail img-thumbnail" />
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>{{user.name}}</h2>
      <p ng-if="user.username" class="username">
        {{user.username}}
      </p>

      <div ng-if="user.birthday && user.show_birthday">
        <i class="fa fa-birthday-cake birthday-cake"></i>
        {{user.birthday | amDateFormat:'MMMM Do YYYY'}}<br />
        <span am-time-ago="user.birthday"><span>

        <p ng-if="isBirthday">
          Happy birthday!
        </p>

        <p ng-if="daysUntilBirthday">
          {{daysUntilBirthday}} days until next birthday.
        </p>
      </div>

      <p ng-if="user.my_profile">
        <a ui-sref="profile.edit({id: mydata._id})" class="edit-profile">Edit profile</a>
      </p>

      <hr>

      <p ng-if="user.created" class="created-date">
        Joined {{user.created | amDateFormat:'MMMM Do YYYY'}}<br />
        <span am-time-ago="user.created"><span>

        <p ng-if="isCakeday">
          <i class="fa fa-birthday-cake cakeday-cake"></i>
          Happy cakeday!
        </p>

        <p ng-if="daysUntilBirthday">
          {{daysUntilCakeday}} days until next cakeday.
        </p>
      </p>

    </div>

    <div class="col-md-4">

      <div ng-if="user.bio && user.show_bio" class="well">
        {{user.bio}}
      </div>

      profile data: {{user}}<br/>
    </div>
  </div>
</div>
