<!-- TODO: remove hardcoded batman url -->
<div parallax-background class="profile-cover" parallax-ratio="0.9">
  <div class="container">
    <div class="cover-picture-thumbnail-container">
      <img ng-src="{{profile_picture}}" class="cover-picture-thumbnail img-thumbnail" alt="{{user.username}}" />

      <div class="tools" ng-if="user.my_profile">
        <div class="btn btn-primary btn-flat upload-profile-picture" ng-file-select="uploadProfilePicture($files)" data-multiple="false" accept="image/*">
          Upload new picture
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>{{user.name}}</h2>
      <p ng-if="user.username" class="username">
        {{user.username}}
      </p>

      <div ng-if="user.gender && user.show_gender">
        {{user.gender}}
      </div>

      <div ng-if="user.birthday && user.show_birthday">
        <i class="fa fa-birthday-cake birthday-cake"></i>
        {{user.birthday | amDateFormat:'MMMM Do YYYY'}}<br />
        <span am-time-ago="user.birthday"><span>

        <p ng-if="isBirthday">
          Happy birthday!
        </p>

        <p ng-if="daysUntilBirthday">
          {{daysUntilBirthday}} days until next birthday.
        </p>
      </div>

      <p ng-if="user.my_profile">
        <a ui-sref="profile.edit({id: mydata._id})" class="edit-profile btn btn-flat btn-primary">Edit profile</a>
      </p>

      <hr>

      <div ng-if="user.created" class="created-date">
        Joined {{user.created | amDateFormat:'MMMM Do YYYY'}}<br />
        <span am-time-ago="user.created"><span>

        <p ng-if="isCakeday">
          <i class="fa fa-birthday-cake cakeday-cake"></i>
          Happy cakeday!
        </p>

        <p ng-if="daysUntilBirthday">
          {{daysUntilCakeday}} days until next cakeday.
        </p>
      </div>

      <p ng-if="!user.fanpage_id && user">
        <a ng-click="create_fanpage()" class="btn btn-flat btn-warning">Create fanpage</a>
      </p>
      <p ng-if="user.fanpage_id && user">
        <a ui-sref="group.show({id: user.fanpage_id})" class="btn btn-flat btn-warning">Checkout da fanpage</a>
      </p>

    </div>

    <div class="col-md-9">

      <div ng-if="user.bio && user.show_bio" class="well" ng-bind-html="user.bio | newlines"></div>

      <div ng-if="user.my_profile">
        <upload profile-id="user._id" update="getPictures"></upload>
      </div>

      <h2 ng-if="pictures.length">Pictures</h2>
      <div class="row">
        <div class="picture-col col-md-3" ng-repeat="picture in pictures | orderBy:'-created_at'">
          <img ng-click="openModal(picture)" ng-src="/uploads/{{picture.filename}}" class="img-thumbnail">
        </div>
      </div>

      profile data: {{user}}<br/>
    </div>
  </div>
</div>
